<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather data API</title>
</head>
<body>
<h1>Weather data API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>Example for one station from one date: http://127.0.0.1:5000/api/v1/10/2000-01-01</p>
<p>Example for all the dates from one station: http://127.0.0.1:5000/api/v1/10</p>
<p>Example for one specific year from a station: http://127.0.0.1:5000/api/v1/annual/10/2002</p>
<p>{{data|safe}}</p>
<p></p>
</body>
</html>